<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is not a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and cannot be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * *Best of Luck * * * * * * * * * * * -->
<!-- * * * * * * * get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="align">
  <img class="logo" src="img/logo.svg">
  <div class="card">
    <div class="head">
      <div></div>
      <a id="login" class="selected" href="#login">Login</a>
      <a id="register" href="#register">Register</a>
      <div></div>
    </div>
    <div class="tabs">
      <form>
        <div class="inputs">
          <div class="input">
            <input placeholder="Username" type="text">
            <img src="img/user.svg">
          </div>
          <div class="input">
            <input placeholder="Password" type="password">
            <img src="img/pass.svg">
          </div>
          <label class="checkbox">
            <input type="checkbox">
            <span>Remember me</span>
          </label>
        </div>
        <button>Login</button>
      </form>
      <form>
        <div class="inputs">
          <div class="input">
            <input placeholder="Email" type="text">
            <img src="img/mail.svg">
          </div>
          <div class="input">
            <input placeholder="Username" type="text">
            <img src="img/user.svg">
          </div>
          <div class="input">
            <input placeholder="Password" type="password">
            <img src="img/pass.svg">
          </div>
        </div>
        <button>Register</button>
      </form>
    </div>
  </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>